# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
env/
venv/
ENV/

# Logs and data
*.log
*.csv
*.dat
*.tmp
*.db

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/

# Videos and media
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg

# Misc
*.bak

# Environment variables file
.env
node_modules
